<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<main>
  <div id="register-form">
    <form action="/account/register" method="post">
      <label class="label-input">First Name:
        <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
      </label>
      <label class="label-input">Last Name:
        <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
      </label>
      <label class="label-input">Email Address:
        <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>">
      </label>
      <label class="label-input">Password:
        <input type="text" id="account_password" name="account_password" minlength="12" pattern="(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).+" required>
      </label>
      <input type="submit" value="Register">
    </form>
  </div>
</main>